= render "slider"
#main_below_promos.ad
  %div{"data-ns" => "billboard", :style => "padding-top:6px;"}
%section#news.news
  .wrap
    .row
      .news-col.d-col-8.w-col-8
        = render 'contents'
        .news-load-more
          #ajax-appendContentPage.more-button View more...
      #sidebar.sidebar-col.d-col-4.w-col-4
        #global_below_community_activity.ad
          #global_above_community_activity.widget.widget-ad.widget-ad-sidebar-top
            .widget-header
              %h3.widget-title Advertisement
            .widget-content
              %div{"data-ns" => "halfpage"}
        .widget.widget-trending
          .widget-header
            %h3.widget-title Trending Stories
          .widget-content
            %article.trending-item
              %figure.trending-item-thumb
                %a.trending-item-thumb-link{:href => "news/microsoft-reveals-windows-10-wearable-device-developed-by-trekstor-for-commercial-customers.html", :rel => "bookmark"}
                  %img.lazyLoad{:alt => "1493041226_trekstor-windows-10-iot-crop", "data-original" => "https://s3.amazonaws.com/neowin/news/images/uploaded/2017/04/1493041226_trekstor-windows-10-iot-crop_small.jpg"}/
                  %noscript
                    %img{:alt => "1493041226_trekstor-windows-10-iot-crop", :src => "https://s3.amazonaws.com/neowin/news/images/uploaded/2017/04/1493041226_trekstor-windows-10-iot-crop_small.jpg"}/
              %header.trending-item-header
                %h3.trending-item-title
                  %a{:href => "news/microsoft-reveals-windows-10-wearable-device-developed-by-trekstor-for-commercial-customers.html", :rel => "bookmark"} Microsoft reveals Windows 10 wearable device, developed by TrekStor for commercial customers
                %p.trending-item-meta
                  %time.date.published{:datetime => "2017-04-24T14:00:01+00:00"} 20 hours ago
                  %span.comments
                    %span with
                    %a.comment-link{:href => "news/microsoft-reveals-windows-10-wearable-device-developed-by-trekstor-for-commercial-customers.html#comments", :title => "View 20 Comments"}
                      20
                      %span comments
            %article.trending-item
              %figure.trending-item-thumb
                %a.trending-item-thumb-link{:href => "news/samsung-begins-android-70-nougat-rollout-for-galaxy-s6-and-s6-edge-in-canada.html", :rel => "bookmark"}
                  %img.lazyLoad{:alt => "1488898475_android-7.0-nougat-galaxy-s6-edge", "data-original" => "https://s3.amazonaws.com/neowin/news/images/uploaded/2017/03/1488898475_android-7.0-nougat-galaxy-s6-edge_small.jpg"}/
                  %noscript
                    %img{:alt => "1488898475_android-7.0-nougat-galaxy-s6-edge", :src => "https://s3.amazonaws.com/neowin/news/images/uploaded/2017/03/1488898475_android-7.0-nougat-galaxy-s6-edge_small.jpg"}/
              %header.trending-item-header
                %h3.trending-item-title
                  %a{:href => "news/samsung-begins-android-70-nougat-rollout-for-galaxy-s6-and-s6-edge-in-canada.html", :rel => "bookmark"} Samsung begins Android 7.0 Nougat rollout for Galaxy S6 and S6 edge in Canada
                %p.trending-item-meta
                  %time.date.published{:datetime => "2017-04-24T10:34:01+00:00"} 23 hours ago
                  %span.comments
                    %span with
                    %a.comment-link{:href => "news/samsung-begins-android-70-nougat-rollout-for-galaxy-s6-and-s6-edge-in-canada.html#comments", :title => "View 0 Comments"}
                      0
                      %span comments
            %article.trending-item
              %figure.trending-item-thumb
                %a.trending-item-thumb-link{:href => "news/microsoft-rolls-out-windows-10-mobile-insider-preview-build-15207-to-fast-ring.html", :rel => "bookmark"}
                  %img.lazyLoad{:alt => "1492619903_windows-10-mobile-insider-preview-generic-07", "data-original" => "https://s3.amazonaws.com/neowin/news/images/uploaded/2017/04/1492619903_windows-10-mobile-insider-preview-generic-07_small.jpg"}/
                  %noscript
                    %img{:alt => "1492619903_windows-10-mobile-insider-preview-generic-07", :src => "https://s3.amazonaws.com/neowin/news/images/uploaded/2017/04/1492619903_windows-10-mobile-insider-preview-generic-07_small.jpg"}/
              %header.trending-item-header
                %h3.trending-item-title
                  %a{:href => "news/microsoft-rolls-out-windows-10-mobile-insider-preview-build-15207-to-fast-ring.html", :rel => "bookmark"} Microsoft rolls out Windows 10 Mobile Insider Preview build 15207 to Fast ring
                %p.trending-item-meta
                  %time.date.published{:datetime => "2017-04-24T17:21:31+00:00"} 17 hours ago
                  %span.comments
                    %span with
                    %a.comment-link{:href => "news/microsoft-rolls-out-windows-10-mobile-insider-preview-build-15207-to-fast-ring.html#comments", :title => "View 4 Comments"}
                      4
                      %span comments
            %article.trending-item
              %figure.trending-item-thumb
                %a.trending-item-thumb-link{:href => "news/lyrebird-is-launching-an-api-to-copy-anyone039s-voice-from-a-one-minute-audio-recording.html", :rel => "bookmark"}
                  %img.lazyLoad{:alt => "1493036338_lyrebird", "data-original" => "https://s3.amazonaws.com/neowin/news/images/uploaded/2017/04/1493036338_lyrebird_small.jpg"}/
                  %noscript
                    %img{:alt => "1493036338_lyrebird", :src => "https://s3.amazonaws.com/neowin/news/images/uploaded/2017/04/1493036338_lyrebird_small.jpg"}/
              %header.trending-item-header
                %h3.trending-item-title
                  %a{:href => "news/lyrebird-is-launching-an-api-to-copy-anyone039s-voice-from-a-one-minute-audio-recording.html", :rel => "bookmark"} Lyrebird is launching an API to copy anyone's voice from a one-minute audio recording
                %p.trending-item-meta
                  %time.date.published{:datetime => "2017-04-24T12:32:02+00:00"} 21 hours ago
                  %span.comments
                    %span with
                    %a.comment-link{:href => "news/lyrebird-is-launching-an-api-to-copy-anyone039s-voice-from-a-one-minute-audio-recording.html#comments", :title => "View 9 Comments"}
                      9
                      %span comments
        .widget.widget-software
          .widget-header
            %h3.widget-title
              %a{:href => "news/cat/software.html"} Software Stories
          .widget-content
            %article.trending-item
              %figure.trending-item-thumb
                %a.trending-item-thumb-link{:href => "news/gom-audio-2280.html", :rel => "bookmark"}
                  %img.lazyLoad{:alt => "gomaudio", "data-original" => "https://s3.amazonaws.com/neowin/news/images/uploaded/2016/06/gomaudio_small.jpg"}/
                  %noscript
                    %img{:alt => "gomaudio", :src => "https://s3.amazonaws.com/neowin/news/images/uploaded/2016/06/gomaudio_small.jpg"}/
              %header.trending-item-header
                %h3.trending-item-title
                  %a{:href => "news/gom-audio-2280.html", :rel => "bookmark"} GOM Audio 2.2.8.0
                %p.trending-item-meta
                  %time.date.published{:datetime => "2017-04-25T09:46:01+00:00"} 42 minutes ago
                  %span.comments
                    %span with
                    %a.comment-link{:href => "news/gom-audio-2280.html#comments", :title => "View 0 Comments"}
                      0
                      %span comments
            %article.trending-item
              %figure.trending-item-thumb
                %a.trending-item-thumb-link{:href => "news/experienceindexok-121.html", :rel => "bookmark"}
                  %img.lazyLoad{:alt => "experienceindexok", "data-original" => "https://s3.amazonaws.com/neowin/news/images/uploaded/2016/01/experienceindexok_small.jpg"}/
                  %noscript
                    %img{:alt => "experienceindexok", :src => "https://s3.amazonaws.com/neowin/news/images/uploaded/2016/01/experienceindexok_small.jpg"}/
              %header.trending-item-header
                %h3.trending-item-title
                  %a{:href => "news/experienceindexok-121.html", :rel => "bookmark"} ExperienceIndexOK 1.21
                %p.trending-item-meta
                  %time.date.published{:datetime => "2017-04-24T17:06:01+00:00"} 17 hours ago
                  %span.comments
                    %span with
                    %a.comment-link{:href => "news/experienceindexok-121.html#comments", :title => "View 3 Comments"}
                      3
                      %span comments
            %article.trending-item
              %figure.trending-item-thumb
                %a.trending-item-thumb-link{:href => "news/marble-22.html", :rel => "bookmark"}
                  %img.lazyLoad{:alt => "marble", "data-original" => "https://s3.amazonaws.com/neowin/news/images/uploaded/2014/09/marble_small.jpg"}/
                  %noscript
                    %img{:alt => "marble", :src => "https://s3.amazonaws.com/neowin/news/images/uploaded/2014/09/marble_small.jpg"}/
              %header.trending-item-header
                %h3.trending-item-title
                  %a{:href => "news/marble-22.html", :rel => "bookmark"} Marble 2.2
                %p.trending-item-meta
                  %time.date.published{:datetime => "2017-04-24T16:58:01+00:00"} 17 hours ago
                  %span.comments
                    %span with
                    %a.comment-link{:href => "news/marble-22.html#comments", :title => "View 1 Comment"}
                      1
                      %span comment
            %article.trending-item
              %figure.trending-item-thumb
                %a.trending-item-thumb-link{:href => "news/bandizip-605.html", :rel => "bookmark"}
                  %img.lazyLoad{:alt => "1471032574_bandizip6", "data-original" => "https://s3.amazonaws.com/neowin/news/images/uploaded/2016/08/1471032574_bandizip6_small.jpg"}/
                  %noscript
                    %img{:alt => "1471032574_bandizip6", :src => "https://s3.amazonaws.com/neowin/news/images/uploaded/2016/08/1471032574_bandizip6_small.jpg"}/
              %header.trending-item-header
                %h3.trending-item-title
                  %a{:href => "news/bandizip-605.html", :rel => "bookmark"} Bandizip 6.05
                %p.trending-item-meta
                  %time.date.published{:datetime => "2017-04-24T14:14:01+00:00"} 20 hours ago
                  %span.comments
                    %span with
                    %a.comment-link{:href => "news/bandizip-605.html#comments", :title => "View 0 Comments"}
                      0
                      %span comments
        #main_sidebar_bottom.widget.widget-ad.widget-ad-sidebar-footer
          .widget-header
            %h3.widget-title Advertisement
          .widget-content
            %div{"data-ns" => "halfpage", :style => "padding-bottom: 10px;"}
        .widget.widget-community
          .widget-header
            %h3.widget-title
              %a{:href => "news/tags/sponsored.html"} Deals
          .widget-content
            %aside.deals.deal-sidebar
              .wrap
                .row
                  %article.deal-item.deal.deal-sidebar
                    %figure.deal-item-thumb
                      %a.deal-item-thumb-link{:href => "http://deals.neowin.net/sales/vpn-unlimited-lifetime-subscription/?utm_source=neowin.net&utm_medium=dealfeed-rightrailr&utm_campaign=/sales/vpn-unlimited-lifetime-subscription", :rel => "bookmark"}
                        %img{:alt => "", :src => "https://cdnp3.stackassets.com/53e2715477580302fd1a640b33b7825d6b3dab37/store/opt/360/270/46a4894af6c614c98a5e19d86a8c56b4752baf15f8c3f54259e0884c6579/vpnupdate2.jpg"}/
                    %header.deal-item-header
                      %h3.deal-item-title
                        %a{:href => "http://deals.neowin.net/sales/vpn-unlimited-lifetime-subscription/?utm_source=neowin.net&utm_medium=dealfeed-rightrail&utm_campaign=/sales/vpn-unlimited-lifetime-subscription", :rel => "bookmark"} VPN Unlimited: Lifetime Subscription
                    .deal-price
                      %span.deal-price-old $499.99
                      %span.deal-price-new $39.00
                      %span.deal-price-off 92% off
                  %article.deal-item.deal.deal-sidebar
                    %figure.deal-item-thumb
                      %a.deal-item-thumb-link{:href => "http://deals.neowin.net/sales/tigervpn-lifetime-subscription-3/?utm_source=neowin.net&utm_medium=dealfeed-rightrailr&utm_campaign=/sales/tigervpn-lifetime-subscription-3", :rel => "bookmark"}
                        %img{:alt => "", :src => "https://cdnp1.stackassets.com/837a7350092d80276a762108386c685b2e9884bf/store/opt/360/270/1699e4c99deca4bcef3f838e67a3d5dd26e183389dd2c1480f34d5685be3/sale_7219_primary_image.jpg"}/
                    %header.deal-item-header
                      %h3.deal-item-title
                        %a{:href => "http://deals.neowin.net/sales/tigervpn-lifetime-subscription-3/?utm_source=neowin.net&utm_medium=dealfeed-rightrail&utm_campaign=/sales/tigervpn-lifetime-subscription-3", :rel => "bookmark"} TigerVPN: Lifetime Subscription
                    .deal-price
                      %span.deal-price-old $780.00
                      %span.deal-price-new $29.00
                      %span.deal-price-off 96% off
                  %article.deal-item.deal.deal-sidebar
                    %figure.deal-item-thumb
                      %a.deal-item-thumb-link{:href => "http://deals.neowin.net/sales/strong-foundations-for-computer-science-bundle/?utm_source=neowin.net&utm_medium=dealfeed-rightrailr&utm_campaign=/sales/strong-foundations-for-computer-science-bundle", :rel => "bookmark"}
                        %img{:alt => "", :src => "https://cdnp3.stackassets.com/fd8b8005ca3ca68f70b712a4f4e0a4652fe79609/store/opt/360/270/60b45128a130831540598d7f83f8526eef04146da52680be1334ed551a2f/sale_3707_image.jpg"}/
                    %header.deal-item-header
                      %h3.deal-item-title
                        %a{:href => "http://deals.neowin.net/sales/strong-foundations-for-computer-science-bundle/?utm_source=neowin.net&utm_medium=dealfeed-rightrail&utm_campaign=/sales/strong-foundations-for-computer-science-bundle", :rel => "bookmark"} The Complete Computer Science Bundle
                    .deal-price
                      %span.deal-price-old $367.00
                      %span.deal-price-new $39.00
                      %span.deal-price-off 89% off
                  %article.deal-item.deal.deal-sidebar
                    %figure.deal-item-thumb
                      %a.deal-item-thumb-link{:href => "http://deals.neowin.net/sales/glasswire-pro-lifetime-license/?utm_source=neowin.net&utm_medium=dealfeed-rightrailr&utm_campaign=/sales/glasswire-pro-lifetime-license", :rel => "bookmark"}
                        %img{:alt => "", :src => "https://cdnp0.stackassets.com/1650ea5e3c58ac801e9c041b0df5a018a803646b/store/opt/360/270/3d651ea689c54cbb40b957b6524d6326dec90e80f9d01ce9a6abca71a371/product_13728_product_shots1_image.jpg"}/
                    %header.deal-item-header
                      %h3.deal-item-title
                        %a{:href => "http://deals.neowin.net/sales/glasswire-pro-lifetime-license/?utm_source=neowin.net&utm_medium=dealfeed-rightrail&utm_campaign=/sales/glasswire-pro-lifetime-license", :rel => "bookmark"} GlassWire Pro: Lifetime License
                    .deal-price
                      %span.deal-price-old $99.00
                      %span.deal-price-new $29.00
                      %span.deal-price-off 71% off
                  %article.deal-item.deal.deal-sidebar
                    %figure.deal-item-thumb
                      %a.deal-item-thumb-link{:href => "http://deals.neowin.net/sales/lifetime-hosting-lite-plan-lifetime-domain/?utm_source=neowin.net&utm_medium=dealfeed-rightrailr&utm_campaign=/sales/lifetime-hosting-lite-plan-lifetime-domain", :rel => "bookmark"}
                        %img{:alt => "", :src => "https://cdnp0.stackassets.com/a09d1218be764bf5a28eb639d7d9b994e866e590/store/opt/360/270/7feacd16897e4fb6e808cba0109dc14a6f2ce8430182f69ed4c0f1929e0b/sale_5996_primary_image.jpg"}/
                    %header.deal-item-header
                      %h3.deal-item-title
                        %a{:href => "http://deals.neowin.net/sales/lifetime-hosting-lite-plan-lifetime-domain/?utm_source=neowin.net&utm_medium=dealfeed-rightrail&utm_campaign=/sales/lifetime-hosting-lite-plan-lifetime-domain", :rel => "bookmark"} Lifetime.Hosting Lite Plan &amp; Lifetime Domain
                    .deal-price
                      %span.deal-price-old $79.90
                      %span.deal-price-new $19.99
                      %span.deal-price-off 75% off
.footer-banner.footer-banner-ads
  .wrap
    %span.footer-banner-advertising
      %div{"data-ns" => "leaderboard"}
%footer#footer.footer
  .footer-top
    .wrap
      .row
        .footer-top-nav.t-col-6
          .row
            .footer-top-col.t-col-4
              %h3 Company
              %ul
                %li
                  %a{:href => "contact/index.html"} Contact Us
                %li
                  %a{:href => "credits/index.html"} About Us
                %li
                  %a{:href => "credits/index.html#jobs"} Write for Neowin
                %li
                  %a{:href => "advertising/index.html"} Advertising
            .footer-top-col.t-col-4
              %h3 Community
              %ul
                %li
                  %a{:href => "forum/index.html"} Forums
                %li
                  %a{:href => "subscribe/index.html"} Subscribe
                %li
                  %a{:href => "irc/index.html"} Chat on IRC
                %li
                  %a{:href => "http://deals.neowin.net/"} Neowin Deals
            .footer-top-col.t-col-4
              %h3 Social
              %ul.footer-social
                %li.facebook
                  %a{:href => "https://www.facebook.com/neowin", :title => "Facebook"} Facebook
                %li.twitter
                  %a{:href => "https://twitter.com/neowinfeed", :title => "Twitter"} Twitter
                %li.googleplus
                  %a{:href => "https://plus.google.com/103621864990923776909", :rel => "publisher", :title => "Google+"} Google+
                %li.youtube
                  %a{:href => "https://www.youtube.com/Neowin", :rel => "publisher", :title => "YouTube"} YouTube
        /
          <div class="footer-top-col footer-newsletter t-col-6" role="contentinfo">
          <form action="https://techspot.us1.list-manage.com/subscribe/post?u=e4cfda23de0688b6339e986ae&amp;id=087c9b1822" method="post" name="mc-embedded-subscribe-form" target="_blank">
          <h3 class="footer-newsletter-title">Subscribe to our Newsletter</h3>
          <input class="input" type="email" name="email" placeholder="signup@email.com" />
          <input class="newsletter-button" name="subscribe" type="submit" value="Subscribe" />
          </form>
          </div>
  .footer-bot
    .wrap
      .row
        .footer-copyright.t-col-11
          %ul.footer-copyright-links
            %li
              %a{:href => "dmca/index.html"}
                DMCA
                %span Policy
            %li
              %a{:href => "terms/index.html"} Terms of Use
            %li
              %a{:href => "privacy/index.html"}
                Privacy
                %span Statement
          %p.footer-copyright-text
            %span
              © Since 2000
              = succeed "." do
                %span.org Neowin LLC
            All trademarks mentioned are the property of their respective owners.
        .t-col-1
          %a.footer-top-of-page.scrollto{:href => "#top"} Top of Page
%form{"accept-charset" => "utf-8", :action => "https://www.neowin.net/forum/login/", "data-ipsvalidation" => "", :method => "post", :novalidate => ""}
  #site-signin.modal
    .modal-window
      .modal-header
        %h3.modal-title Login
        %span.modal-close Close
      .modal-content
        .signin-form
          %input{:name => "csrfKey", :type => "hidden", :value => "f8b4131221282102d61caa90e76f5793"}/
          %input{:name => "referer", :type => "hidden", :value => "/"}/
          %input{:name => "login__standard_submitted", :type => "hidden", :value => "1"}/
          .signin-input.form
            .field.required
              %label.label{:for => "auth"} Username or email:
              %input#auth.input{:name => "auth", :type => "text", :value => ""}/
            .field.required
              %label.label{:for => "password"} Password
              %input#password.input{:name => "password", :type => "password", :value => ""}/
            .field.options
              %label.label{:for => "remember_me_checkbox", :title => "This is not recommended for shared computers"}
                %input{:name => "remember_me", :type => "hidden", :value => "0"}/
                %input#remember_me_checkbox.checkbox{:checked => "checked", :name => "remember_me_checkbox", :tabindex => "0", :type => "checkbox", :value => "1"}/
                Remember me
      .modal-actions
        %button#elSignIn_submit.button.button-primary.button-block{:type => "submit"} Sign In
        %a.social-login-button.facebook{:href => "https://www.facebook.com/dialog/oauth?client_id=141241332490&scope=email,user_status,publish_actions&redirect_uri=http%3A%2F%2Fwww.neowin.net%2Fforum%2Fapplications%2Fcore%2Finterface%2Ffacebook%2Fauth.php&state=front-f8b4131221282102d61caa90e76f5793", :rel => "nofollow", "sl-processed" => "1"} Sign in with Facebook
        %a.social-login-button.twitter{:href => "forum/login/indexee3a.html?loginProcess=twitter", :rel => "nofollow", "sl-processed" => "1"} Sign in with Twitter
        %a.social-login-button.google{:href => "https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=61235491909-9qv71s7rsa0uehhsipdhjngdkkhgt560.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Fwww.neowin.net%2Fforum%2Fapplications%2Fcore%2Finterface%2Fgoogle%2Fauth.php&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fplus.login+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&access_type=offline&state=front-f8b4131221282102d61caa90e76f5793", :rel => "nofollow", "sl-processed" => "1"} Sign in with Google
        %a.social-login-button.liveid{:href => "https://login.live.com/oauth20_authorize.srf?client_id=000000004015ED77&scope=wl.signin+wl.emails+wl.offline_access&response_type=code&redirect_uri=http%3A%2F%2Fwww.neowin.net%2Fforum%2Fapplications%2Fcore%2Finterface%2Fmicrosoft%2Fauth.php&state=front", :rel => "nofollow", "sl-processed" => "1"} Sign in with Live ID
#profile-card.modal
  .modal-window.profile-card
    / Profile content
#ajax-spinner
  %span.spinner
  %span Loading
